.cursor-glow {
  position: fixed;

  width: 250px;
  height: 250px;

  background:
    rgba(56,189,248,0.12);

  border-radius: 50%;

  filter: blur(90px);

  pointer-events: none;

  transform:
    translate(-50%, -50%);

  z-index: 0;

  transition:
    left 0.08s linear,
    top 0.08s linear;
}